*{
 
    margin:0;
    padding:0;
  }
  /**************************************** yellow bar css********************************************/
  .new-navbar {
    background-color: #ffc221;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons i {
    margin-right: 30px;
    font-size: 15px;
  }
  
  .contact-details span {
    margin-left: 10px;
  }
  
  /************************************ white Navbar css *********************************************/
  /* Logo */
.logo{
    display: flex;
    justify-content: center;
   }
   img{
    width:70px;
    height:70px;
   }
   .navbar h1 {
   font-family:"pacifico" ;
   padding: 10px;
   
   }
   .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white; /* Change as needed */
    height:77px;
   
    
   }
   /* Navigation links */
   .nav-pills .nav-item {
    list-style: none;
    margin: 0 10px;
    font-size: 18px;
   }
   .nav-pills .nav-item a{
    font-weight: 400;
    text-transform: uppercase;
    font-family: "poppins";
   }
   .nav-pills .nav-item a:hover{
    text-decoration: underline;
    color:#ffc221
   }
   
   .nav-pills .nav-link {
    text-decoration: none;
    color: #333; /* Change as needed */
   
   }
   /* Sign in and cart icons */
   .icons i {
    font-size: 20px; /* Adjust the size of the icons */
    margin-right: 10px; /* Add space between icons */
    color: #212529;
   }
   .icons i:hover{
    color:#3f454b
   }
   /* Active link */
   .nav-link.active {
    font-weight: bold;
    color:#212529; /* Change as needed */
   }
/***********/


.menunav {
    background-color:#212529;
    padding: 10px 20px;
    position: relative;
    
}

.menunav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:left;
    align-items: center;
}

.menunav li {
    display: inline-block;
    margin-right: 20px;
}

.menunav li:last-child {
    margin-right: 0;
}

.menunav li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "poppins";
    padding: 25px;
}

.menunav li a:hover {
    color: #ffd700;
}
#burger-section,#wraps-section,#sides-section,#beverages-section{
display: flex;
justify-content:center;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.card{
display:inline-block;
border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin:0 10px;
    width: 300px;
    height:auto;
   text-align: center;
    margin-bottom: 30px;
}
.card-section h5{
font-family: "poppins";
font-weight: 700;
width: 100%;
height: auto;
}
.card img{
width: 100%;
height: auto;
text-align: center;

}

.cart{
display: flex;
}
.cart-icon  {
  position: relative;
 margin-left: auto;
 
}

.cart-icon a {
  position: relative;

}


.cart-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #ccc;
  height: 100%;
  overflow-y: auto;
}

.cart-section h3 {
  margin-top: 0;
}

.cart-item {
  margin-bottom: 10px;
}

.added-to-cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
}




  /*****************************************  footer  ************************************************/
  footer {
    background-color:#212529;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer-section {
    flex-basis: 25%;
    margin-bottom: 30px;
   
  }
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .footer-section p {
    margin-bottom: 15px;
    margin: 20px;
  }
  .footer-links {
    margin-top: 20px;
  }
  .footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
  }