* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-color:#f9f9f9;
  color: #333;
  width:100%;
}

.navbar{
  display: flex;
  background-color: #38040e;
  color:#fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    font-family: cursive;
    
    position: relative;
    
}
.right{
  margin-right: 10px;
  margin-left: 40px;
}
.navbar ul li{
  display:inline;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: cursive;
  padding: 20px;
  
}
.navbar ul li a{
  text-decoration: none;
  text-align: center;
  padding:10px;
  font-size: 20px;
  font-family: cursive;
  color:#fff;
  
  
}
.search-container {
  position: relative;
}
.search-bar {
  width: 300px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}
.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #38040e;
  color:white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.search-button:hover {
  background-color: black;
}
a:hover{
  background-color: black;
  color:#333
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
}
/* artisan info */
section {
  padding: 20px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
  font-family: cursive;
}

.profile-picture input[type="file"] {
  margin-bottom: 20px;
}

.bio textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-info input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* portfolio showcase */
.portfolio-showcase {
  padding: 20px;
}


.craft-gallery {
  display: flex;
 align-items: center;
  justify-content: space-around;
}

.craft-category {
  flex: 0 1 calc(33.33% - 20px);
  margin-bottom: 40px;
}

.craft-category h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.craft {
  margin-bottom: 20px;
}

.craft img {
  width: 200px;
  height:200px;
  border-radius: 5px;
  margin-top: 20px;
}

.craft p {
  font-size: 14px;
  line-height: 1.5;
}
/* product management */
.product-management {
  padding: 20px;
}

.product-management h2 {
  text-align: center;
}

#add-product-form {
  margin-bottom: 20px;
}

#add-product-form label {
  display: block;
  margin-bottom: 5px;
}

#add-product-form input[type="text"],
#add-product-form textarea,
#add-product-form input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#add-product-form input[type="file"] {
  margin-bottom: 20px;
}

#add-product-form button {
  background-color: #38040e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-list {
  display: wrap;
  flex-wrap: wrap;
}

.product {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-info h3 {
  margin-bottom: 5px;
}

.product-actions {
  text-align: right;
}

.product-actions button {
  background-color: #38040e;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}


.product-actions button:hover {
  background-color:black;
}
/* order management */
.order-management {
  padding: 20px;
 
}

.product-management h2 {
 text-align: left;
 
}

.order-list {
  display: flex;
  flex-wrap: wrap;
}

.order {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order p {
  margin-bottom: 5px;
}

.order .view-details {
  background-color: #38040e;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
}

.order .view-details:hover {
  background-color: black;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.details {
  margin-top: 20px;
}
/*interaction features*/
.interaction-features {
  display: flex;
  justify-content: space-between;
}

.customer-reviews, .messaging {
  width: 45%;
}

.review {
  margin-bottom: 20px;
}

.rating {
  font-size: 20px;
}

.chat-messages {
  height:90px;
  overflow-y: auto;
}

#message-input {
  width: calc(100% - 80px);
  margin-bottom: 10px;
}
/*social proofs*/
.social-proof {
  display: flex;
  justify-content: space-between;
}
.social-proof,.testimonials,.testimonial,p .author{
  font-weight: 500;
}
.testimonials, .badges {
  width: 45%;
  
}

.testimonial {
  margin-bottom: 20px;
}

.badges img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}
/*promotional features */
.promotional-features {
  display: flex;
  justify-content: space-between;
}

.discounts, .featured-products {
  width: 45%;
}

.promotion {
  margin-bottom: 20px;
}

.product {
  margin-bottom: 20px;
  display:inline-block;
}

.product img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  
}




