* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-color:#f9f9f9;
  color: #333;
  width:100%;
}

.navbar{
  display: flex;
  background-color:#38040e;
  color:#fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    font-family: cursive;
    
    position: relative;
    
}
.right{
  margin-right: 10px;
  margin-left: 40px;
}
.navbar ul li{
  display:inline;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: cursive;
  padding: 20px;
  
}
.navbar ul li a{
  text-decoration: none;
  text-align: center;
  padding:10px;
  font-size: 20px;
  font-family: cursive;
  color:#fff;
  
  
}
.search-container {
  position: relative;
}
.search-bar {
  width: 300px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}
.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #38040e;
  color:white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.search-button:hover {
  background-color: black;
}
a:hover{
  background-color: black;
  color:#333
}


/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.checkout-process {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

/* Cart Summary */
.cart-summary {
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.item-details h3 {
  margin: 0;
  font-size: 18px;
}

.item-details p {
  margin: 5px 0;
  color: #888;
}

/* Shipping Information */
.shipping-information {
  margin-bottom: 20px;
}

#address-form label {
  display: block;
  margin-bottom: 5px;
}

#address-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#address-form button {
  background-color: #38040e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Payment Details */
.payment-details {
  margin-bottom: 20px;
}

.payment-methods label {
  display: block;
  margin-bottom: 10px;
}

/* Order Review */
.order-review {
  margin-bottom: 20px;
}

.order-review p {
  margin: 5px 0;
}

#confirm-order {
  background-color: #38040e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Promo Code */
.promo-code {
  margin-bottom: 20px;
}

#promo-code {
  width: 60%;
  padding: 8px;
}

#apply-promo-code {
  background-color: #ffc107;
  color: #333;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Terms and Conditions */
#agree-terms {
  margin-right: 5px;
}

/* Customer Support Information */
.customer-support-information {
  margin-bottom: 20px;
}
